#home-slider.inview-observer.carousel.slide.carousel-fade.parallax{data: {:image => 'banner1.jpg'}}
  .wow.lightSpeedIn.title1{'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
    %span
      Стильна  гуртовня
  .wow.lightSpeedIn.title2{'data-wow-duration' => '1200ms', 'data-wow-delay' => '500ms'}
    %span
      модного одягу
  .wow.bounceInLeft.title3{'data-wow-duration' => '1200ms', 'data-wow-delay' => '1500ms'}
    %i.icon-catalog
    %span
      online
%section#catalog.inview-observer.topwhite.parallax
  %a.btn.btn-start.animated.scroll.topbutton.fadeInUpBig{href: '#catalog'}
    каталог
%section#navpanel.topwhite
%section#product.parallax
%section#navpanel2.topwhite
%section#contact.inview-observer.parallax
  = render partial: 'contact'
%section#order.inview-observer.topwhite.parallax
%section#about.inview-observer.parallax
  = render partial: 'about'
%section#navpanel3.topwhite
