#home-slider.inview-observer.carousel.slide.carousel-fade.parallax{data: {:image => 'banner1.jpg'}}
  .wow.lightSpeedIn.title1{'data-wow-duration' => '1000ms', 'data-wow-delay' => '200ms'}
    %span
      Стильна  гуртовня
  .wow.lightSpeedIn.title2{'data-wow-duration' => '1200ms', 'data-wow-delay' => '500ms'}
    %span
      модного одягу
  .wow.bounceInLeft.title3{'data-wow-duration' => '1200ms', 'data-wow-delay' => '1500ms'}
    %i.icon-catalog
    %span
      online
%section#navpanel0.topwhite
  %a.btn.btn-start.animated.scroll.topbutton.fadeInUpBig{href: '#catalog'}
    каталог
  = render partial: 'nav0'
  .nav-catalog
    .nav-cat
      %a.btn.btn-cat-nav-left
        %i.glyphicon.glyphicon-hand-left.icon-white
      .nav-cat-div.topwhite
      %a.btn.btn-cat-nav-right
        %i.glyphicon.glyphicon-hand-right.icon-white
%section#catalog
%section#navpanel.topwhite
%section#product
%section#order.topwhite
%section#contact.inview-observer.parallax
  = render partial: 'contact'
%section#navpanel2.topwhite
%section#about.inview-observer.parallax
  = render partial: 'about'
%section#navpanel3.topwhite
