#sign_in_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
          %i.fa.fa-times-circle
        %h4#SignInModal.modal-title Fail
        %p Sorry, it was fail...
        .modal-body
          Not implemented yet