#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend
        = t('activerecord.attributes.gallery.new')
      = render 'form'
:javascript
  admit_gallery();