/*
*   Style file for sorochka.com
*   author: Sergy Nazarevich aka Aqueelone
*   e-mail: aqueelone@gmail.com
*/
html {
    margin: 0px 0px 0px -15px;
    width: 103%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'OpenSans', sans-serif;
}
.clear{
    clear: both;
}
.lang_panel{
    position: absolute;
    left: 33%;
    z-index: 100000;
}
.navbar-brand {
    position: absolute;
    top: 3px;
    left: 4%;
    padding: 0px;
    width: 25%;
}
.navbar-brand img{
    width: 100%;
}
.navbar-toggle{
    margin-right: 25px;
    background-color: rgba(224, 224, 228, 0.4);
    border: 1px solid rgba(158, 158, 158, 0.8);
}
.navbar-toggle .icon-bar{
    color: black;
    background: black;
}
.navbar-nav{
    margin: 0px;
    width: 50%;
    float: right;
}
.title-box{
    margin: 0px auto;
}
.title-box .city-break{
    display: inline-block;
}
.title-box .col-sm-12{
    float: right;
    width: 50%;
}
.title-box .menu{
    margin: 40px 0px 0px 0px;
    text-shadow: 1px 1px 2px #04205B;
}
.submenu-1 .menu-level-1 a, .submenu-2 .menu-level-2 a{
    text-transform: lowercase;
}
.note {
    position: absolute;
    border: #81D5FF solid 1px;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    right: 10px;
    top: 3px;
    color: #81D5FF;
    box-shadow: 0px 0px 2px #81D5FF;
}
a:hover .note{
    border: #9cd70e solid 1px;
    color: #9cd70e;
    box-shadow: 0px 0px 2px #9cd70e;
}
#home-slider{
    background-image: url('homeback.jpg');
    min-height: 600px;
}
#home-slider > img {
    width: 100%;
    margin: 25px 0px 0px 0px;
}
#home-slider .slider{
    display: inline-block;
    width: 53%;
    top: 165px;
    left: 2%;
    position: relative;
    text-align: right;
    padding-bottom: 50px;
}
#home-slider .title1{
    position: relative;
    left: 10%;
    font-size: 52px;
    font-family: 'okolaksbolditalic', sans-serif;
    color: white;
}
#home-slider .title1 span, #home-slider .title2 span{
    display: block;
    font-size: 100%;
    line-height: 70%;
}
#home-slider .title2{
     position: relative;
     left: 10%;
     top: 10px;
     font-size: 52px;
     font-family: 'okolaksbolditalic', sans-serif;
     color: lightblue;
 }
#home-slider .title3{
    position: relative;
    top: 160px;
    left: 10%;
    font: normal normal normal 62px/1.2em 'anonymous_probold',sans-serif;
    color: red;
    display: inline-block;
    padding: 0px 10px 10px 10px;
    font-family: 'anonymous_probold';
    border: 1px solid rgba(255,255,255,0.65);
    box-shadow: 0px 0px 10px #fff;
    background: rgba(204,204,204,0.4);
  }
#home-slider .title3 span{
    margin: 0px 0px 0px 102px;
}
#about .heading{
    background: rgba(84,42,24,0.2);
    margin-top: 30px;
}
#contact{
    background-image: url('feedback.jpg');
    min-height: 850px;
    margin-top: -60px;
}
#contact h2, #contact p, #contact span,  #contact li, #about h2, #about p {
    font-family: 'okolaksbold', sans-serif;
    color: #F3F7F7;text-shadow: 1px 1px 5px #000, 2px 2px 10px #605950, 3px 3px 30px #352914;
    font-size: 16px;
}
#contact h2{
    padding: 20px 0px 0px 0px;
}
#contact p{
    padding: 0px 0px 0px 0px;
    margin: -20px 0px 0px 0px;
}
#contact ul.address{
    margin: 120px 0px 0px 80px;
}
#contact .contact-feedback{
    border-radius: 20px;
    padding: 0px 20px;
    margin: 10px 10px 10px 60px;
    background: rgba(84,42,24,0.2);
}
#contact .contact-feedback .form-group{
    clear: both;
    min-height: 60px;
    margin-bottom: 10px;
}
#contact .contact-feedback .form-group.last{
    margin: 0px -5px 10px 5px;
}
#contact .contact-feedback input, #contact .contact-feedback textarea{
    color: #04205D;
    text-shadow: 0px 0px 3px #fff;
    float: left;
    padding: 5px;
    margin: 0px 0px 0px 5px;
}
#contact .contact-feedback .wysihtml5-sandbox{
    min-height: 250px;
    color: #000;
    text-shadow: 1px 1px 2px #fff, 0px 0px 10px #ccc;
}
span.wisiwig-color-silver {color: silver !important;}
span.wisiwig-color-gray {color: gray !important;}
span.wisiwig-color-maroon {color: maroon !important;}
span.wisiwig-color-red {color: red !important;}
span.wisiwig-color-purple {color: purple !important;}
span.wisiwig-color-green {color: green !important;}
span.wisiwig-color-olive {color: olive !important;}
span.wisiwig-color-navy {color: navy !important;}
span.wisiwig-color-blue {color: blue !important;}
span.wisiwig-color-orange {color: orange !important;}
.wysihtml5-toolbar li.dropdown.open a.wysihtml5-colors-title{
    color: black !important;
}
#contact .contact-feedback .wysihtml5-toolbar.focused{
    background: rgba(102,175,233,0.86);
    border: #66afe9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 0px 2px #66afe9;
    -webkit-transition: background-color .5s linear, opacity .5s linear;
    -moz-transition: background-color .5s linear, opacity .5s linear;
    -o-transition: background-color .5s linear, opacity .5s linear;
    transition: background-color .5s linear, opacity .5s linear;
}
#contact .contact-feedback .wysihtml5-sandbox:focus{
    background: rgba(102,175,233,0.5);
}
#contact .contact-feedback input::-webkit-input-placeholder {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}
#contact .contact-feedback input::-moz-placeholder          {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}
#contact .contact-feedback input:-moz-placeholder           {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}
#contact .contact-feedback input:-ms-input-placeholder      {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}
#contact .contact-feedback textarea::-webkit-input-placeholder {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}
#contact .contact-feedback textarea::-moz-placeholder          {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}
#contact .contact-feedback textarea:-moz-placeholder           {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}
#contact .contact-feedback textarea:-ms-input-placeholder      {color:rgba(255, 255, 255,0.7); text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;}

#contact .contact-feedback input#name{
    border-top-left-radius: 10px;
    width:48%;
}
#contact .contact-feedback input#email{
    border-top-right-radius: 10px;
    width:48%;
    float: right;
}
textarea.form-control {
    min-height: 180px;
    resize: none;
}
#contact .contact-feedback .btn-default{
    background: none;
}
#contact .contact-feedback .wysihtml5-toolbar span, #contact .contact-feedback .wysihtml5-toolbar a{
    color:rgba(255, 255, 255,0.5);
    text-shadow: 1px 1px 10px #000, 2px 2px 20px #605950;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
#contact .contact-feedback .wysihtml5-toolbar.focused span, #contact .contact-feedback .wysihtml5-toolbar.focused a{
     color:rgba(255, 255, 255, 1);
    font-weight: bold;
    text-shadow: 0px 1px 2px #000, 2px 2px 10px #605950;
    -webkit-transition: background-color .5s linear, opacity .5s linear;
    -moz-transition: background-color .5s linear, opacity .5s linear;
    -o-transition: background-color .5s linear, opacity .5s linear;
    transition: background-color .5s linear, opacity .5s linear;
}
#about{
    background-image: url('about.jpg');
    min-height: 650px;
    margin-top: -60px;
}
#about .col-sm-3{
    margin: 30px 0px 10px 10px;
    background: rgba(84,42,24,0.2);
}
#about .brand_image{
    padding: 0px 10px 20px 0px;
}
#about .brand_image img{
    margin: 20px 0px 0px 40px;
}
.icon-catalog{
    width: 92px;
    height: 92px;
    background-image: url('icon-catalog.png');
    position: relative;
    background-position: center 0;
    top: 20px;
    display: inline-block;
    margin: 0px -70px 0px 0px;
}
#catalog {
    margin: -60px 0px 0px 0px;
    min-height: 750px;
    width: 100%;
    position: relative;
    background-image: url('admin_back.jpg');
    background-position: center;
    background-origin: content-box;
    background-attachment: fixed;
    min-width: 100%;
    margin-top: -70px;
    text-align: center;
}
#navpanel0{
    margin-top: -40px;
    min-height: 200px;
    height: 220px;
}
#navpanel0 .nav0-tabs{
    margin: -45px 0px 40px 0px;
}
#navpanel0 .flash{
    top: 56px;
}
#navpanel0 .topbutton{
    margin: -300px 0px 0px 0px;
    color: #161656;
    z-index: 10000;
    text-shadow: 0px 0px 2px #fff, 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff;
    left: 40%;
}
#navpanel, #navpanel2{
    margin-top: -60px;
    min-height: 150px;
    height: 270px;
}
#navpanel .nav0-tabs{
    border-bottom: 3px solid #2a6496;
    margin: 20px 0px 40px 0px;
    border-top: 3px solid #2a6496;
    height: 50px;
}
#navpanel .nav0-tabs .flash{
    top: 8px;
}
.top_box{
    height: 160px;
    background-image: url('admin_back.jpg');
    background-position: center;
    background-origin: content-box;
    background-attachment: fixed;
}
.nav0-tabs{
    border-bottom: 3px solid #2a6496;
    margin: -20px 0px 40px 0px;
}
.nav0-tabs .flash{
    border-bottom: 2px solid #2a6496;
    border-top: 2px solid #2a6496;
    position: relative;
    top: 63px;
    height: 30px;
    background: rgba(66,139,202,0.2);
}
.nav0-tabs a{
    text-shadow: 1px 1px 4px rgba(85,150,207,0.6);
}
.nav0-tabs li.active a{
    color: #2a6496;
}
.nav0-tabs ul{
    text-align: center;
}
.nav0-tabs li{
    position: relative;
    display: inline-block;
    font: normal normal normal 18px/1em 'okolaksbolditalic',sans-serif;
    width: 270px;
    border-top: 1px solid #2a6496;
    border-left: 1px solid #2a6496;
    border-right: 1px solid #2a6496;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 0px 16px 0px;
    box-shadow: 0px 1px 3px #2A6496;
}
.nav0-tabs li.active{
    border-top: 3px solid #2a6496;
    background: rgba(66,139,202,0.2);
    padding: 10px 0px 16px 0px;
    margin: -5px 10px -1px 20px;
    border-bottom: 1px solid #D9E8F5;
}

#contact .topbutton{
    color:rgba(255, 255, 255,0.8);
    border: 1px solid rgba(204,204,204,0.5);
}
.topbutton{
    position: absolute;
    font: normal normal normal 38px/1em 'okolaksregularitalic',sans-serif;
    padding: 0px 10px 10px 10px;
    opacity: 0.8;
    border: 1px solid rgba(255,255,255,0.65);
    box-shadow: 0px 0px 10px #fff;
    background: rgba(204,204,204,0.4);
    top: 250px;
    left: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.topbutton:hover{
    border-color: #028fcc;
    background-color: #028fcc;
    opacity: 1;
    color: white;
    -webkit-transition: background-color .5s linear, opacity .5s linear;
    -moz-transition: background-color .5s linear, opacity .5s linear;
    -o-transition: background-color .5s linear, opacity .5s linear;
    transition: background-color .5s linear, opacity .5s linear;
}
#product{
    background-image: url('product.jpg');
    min-height: 1170px;
    margin-top: -60px;
    background-origin: content-box;
    background-attachment: fixed;
}

#order{
    min-height: 650px;
    background: rgba(255, 255, 255, 0.8);
    margin-top: -60px;
}
.topwhite{
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    position: relative;
}
.col-60perc-right{
    height: 400px;
    width: 540px;
    margin: 0px 0px 0px 40px;
    display: inline-block;
}
.tf-gallery{
    height: 400px;
}
.gallery-thumbs-wrap{
    float: left;
    margin: -60px 0px 0px 0px;
}
.contact-form{
    padding: 20px;
}
.widget-shared{
    padding: 5px 0px 0px 3px;
    font: normal normal normal 12px/1em 'Open Sans',sans-serif;
    color: #4BB4E8;
    text-shadow: 1px 1px 1px #000;
    width: 130px;
}

@media screen and (min-width: 768px) {
    body.modal-open .modal-dialog {
        width: 330px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    body.modal-open .modal-header{
        padding: 12px 12px 0px 15px;
        border-bottom: 2px solid #ACB7C9;
    }
    body.modal-open .modal-body{
        padding: 0;
    }
    body.modal-open .avatar{
         width: 300px;
         padding: 0px;
         margin: auto 4px;
    }
    body.modal-open .avatar img{
        width: 300px;
        max-width: 300px;
    }
    body.modal-open .form-group{
        padding: 0px 10px 70px 10px;
        margin: -55px 0px 0px 0px;
    }
    body.modal-open .form-control{
        border-color: rgba(172,183,201,0.7);
        position: relative;
    }
    body.modal-open .modal-footer{
        border-top: 2px solid #ACB7C9;
        margin-top: -50px;
        padding: 3px;
    }
    body.modal-open .modal-footer a.btn-sm img{
        width: 30px;
    }
    body.modal-open .modal-footer .modal-social-icons{
        position: absolute;
        margin-left: 20px;
    }
    body.modal-open .modal-footer .modal-social-icons .vkontakte{
        color: #5279A4;
        font-size: 21px;
        padding: 5px 10px 0px 10px;
    }
    body.modal-open .modal-footer .modal-social-icons .facebook{
        color: #5279A4;
        font-size: 25px;
        padding: 5px 10px 0px 10px;
    }

    body.modal-open .form-group input::-webkit-input-placeholder {color: rgba(20,21,59,0.6);
        font-weight: normal; text-shadow: 1px 1px 10px #7F8C9F, 2px 2px 15px #BDC6D6, -10px -5px 50px #fff;}
    body.modal-open .form-group input::-moz-placeholder          {color: rgba(20,21,59,0.6);
        font-weight: normal; text-shadow: 1px 1px 10px #7F8C9F, 2px 2px 15px #BDC6D6, -10px -5px 50px #fff;}
    body.modal-open .form-group input:-moz-placeholder           {color: rgba(20,21,59,0.6);
        font-weight: normal; text-shadow: 1px 1px 10px #7F8C9F, 2px 2px 15px #BDC6D6, -10px -5px 50px #fff;}
    body.modal-open .form-group input:-ms-input-placeholder      {color: rgba(20,21,59,0.6);
        font-weight: normal; text-shadow: 1px 1px 10px #7F8C9F, 2px 2px 15px #BDC6D6, -10px -5px 50px #fff;}
    body.modal-open .form-group input{
        color: #04205D;
        text-shadow: 0px 0px 3px #fff;
        padding: 5px;
        font-weight: bold;
        background-color: rgba(255,255,255,0.3);
        border-radius: 5px;
    }
    body.modal-open .alert{
        width: 300px;
        left: 4px;
    }
    body.modal-open .remember-label{
        position: relative;
        top: -53px;
        left: 170px;
    }
    body.modal-open .remember{
        position: relative;
        top: -50px;
        right: -40px;
    }
    body.modal-open .loginbutton{
        font-size: 21px;
        color: #5279A4;
        font-weight: bolder;
    }
}

.contact-btn {
    position: fixed;
    top: 48%;
    z-index: 9999;
    margin-left: -30px;
    transform: translate(0, -50%);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.contact-btn:hover{
    margin-left: 5px;
    transform: translate(0, 0%);
    -ms-transform: rotate(00deg);
    -webkit-transform: rotate(00deg);
    transform: rotate(00deg);
    -webkit-transition: margin-left 0.3s linear, transform 0.3s linear;
    -moz-transition: margin-left 0.3s linear, transform 0.3s linear;
    -o-transition: margin-left 0.3s linear, transform 0.3s linear;
    transition: margin-left 0.3s linear, transform 0.3s linear;
}
.btn-contact, .btn-order{
    font-weight: bold;
}
.order-furgon-btn {
    position: fixed;
    top: 42%;
    z-index: 9999;
    margin-left: -35px;
    right: -210px;
    background: rgba(204,204,204,0.4);
    padding: 0px;
    border: 1px solid rgba(255,255,255,0.65);
    box-shadow: 0px 0px 10px #fff;
}
.order-furgon-btn span{
    position: fixed;
    transform: translate(0, -50%);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 45px;
    margin-left: -33px;
    font: normal normal normal 32px/1em 'okolaksbolditalic',sans-serif;
    color: #042062;
    text-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff;
}
.order-furgon-btn img{
    zoom: 0.9;
}
.order-furgon-btn:hover{
    top: 45%;
    margin-left: 0px;
    transform: translate(0, 0%);
    right:0;
    -webkit-transition: right 0.5s linear, top 0.5s linear, transform 0.3s linear;
    -moz-transition: right 0.5s linear, top 0.5s linear, transform 0.3s linear;
    -o-transition: right 0.5s linear, top 0.5s linear, transform 0.3s linear;
    transition: right 0.5s linear, top 0.5s linear, transform 0.3s linear;
}
.order-furgon-btn:hover span{
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    margin-top: 35px;
    margin-left: 65px;
    color: #042062;
    -webkit-transition: margin-left 0.5s linear, margin-top 0.3s linear, transform 0.3s linear;
    -moz-transition: margin-left 0.5s linear, margin-top 0.3s linear, transform 0.3s linear;
    -o-transition: margin-left 0.5s linear, margin-top 0.3s linear, transform 0.3s linear;
    transition: margin-left 0.5s linear, margin-top 0.3s linear, transform 0.3s linear;
}
.order-furgon-btn:hover img {
    zoom: 1;
    margin-left: -40px;
    -webkit-transition: margin-left 0.6s linear, zoom 0.5s linear;
    -moz-transition: margin-left 0.6s linear, zoom 0.5s linear;
    -o-transition: margin-left 0.6s linear, zoom 0.5s linear;
    transition: margin-left 0.6s linear, zoom 0.5s linear;
}
.approve_box{
    padding: 10px 40px;
    margin: 0px auto;
    text-align: center;
}
.approve-result{
    padding: 10px 40px;
    width: 400px;
    margin: 0px auto;
    text-align: center;
    font: normal normal normal 21px/1.4em 'okolaksbold',sans-serif;
}
.btn-order-approve{
    font: normal normal normal 21px/1.4em 'okolaksbold',sans-serif;
    text-shadow: 0px 0px 2px #D9534F;
    text-transform: uppercase;
    width: 300px;
    box-shadow: 0px 0px 1px #3D5A98, 1px 1px 2px #000;
    margin-left: -200px;
}
#add-email-back, #adminpanel, #modpanel, #userpanel{
    background-image: url('admin_back.jpg');
    background-position: center;
    background-origin: content-box;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 650px;
    margin-top: -70px;
}
#add-email{
    width: 500px;
    margin: 80px auto;
    height: 300px;
    border: #428BCA 1px solid;
    padding: 20px;
    box-shadow: 1px 1px 3px #428BCA;
    z-index: 100;
    position: relative;
    background: rgba(255,255,255,0.81);
}
#add-email h1{
    color: #042062;
}
.fb-btn{
    position: fixed;
    top: 70%;
    z-index: 9999;
    margin-left: 0px;
}
.vk-btn{
    position: fixed;
    top: 76%;
    z-index: 9999;
    margin-left: 0px;
}
@media (max-width: 768px){
    .fb-btn{ display: none;}
    .vk-btn{ display: none;}
    .contact-btn{ display: none;}
}
#navpanel3{
    margin-top: -40px;
    height: 30px;
    padding: 30px;
}
footer {
    margin: auto;
    width: 90%;
    text-align: center;
    z-index: 100;
}
footer section {
    padding: 10px 10px 0px 0px;
    border-top: #1E86B5 solid 1px;
    margin: 20px 0px 0px 0px;
}
footer .copyright{
    float: right;
}
footer .copyright p {
    font: normal normal normal 14px/1.4em 'Open Sans',sans-serif;
    color: #1E86B5;
}
footer .menu {
    border-radius: 0px;
    background: none;
    text-align: center;
    border: none;
    box-shadow: none;
    width: 70%;
    background: none;
    display: inline-block;
}
footer .menu li {
    border-left: none;
}
footer .menu li a{
    padding: 10px;
}
footer .menu > li a.active, footer .dropdown > li a:hover {
    color: rgba(211, 2, 148, 1);
    padding: 10px;
    background: none;
    transition: background-color 0.4s ease 0s;
    border: none;
    transition: background-color 0.4s ease 0s;
    text-shadow: none;
}
footer .menu > li{
    border-top: none;
}
footer .menu > li > a{
    border-top:none;
}
footer .menu > li > a:hover{
    border-top:none;
}
footer .menu > li > ul{
    display: none;
}
.debug_dump{
    width: 250px;
    font-size: 10px;
    background: none;
    color: #1E86B5;
    margin: -30px 0px 0px 0px;
    padding: 2px 10px 0px 10px;
}
.debug {
    color: #1E86B5;
}
.clearfix{
    clear: both;
}
.right{
    float: right;
}
.left{
    float: left;
}
.abs{
    position: absolute;
}
.alert{
    position: absolute;
    top: 100px;
    font-size: 14px;
    z-index: 100000;
    min-width: 250px;
    font-weight: bold;
    left: 120px;
    border-radius: 0;
}
.alert-info {
    color: #042062;
    background-color: rgba(217, 237, 247, 0.5);
    border-color: #ADD8E6;
    text-shadow: 0px 0px 2px #fff;
}
.alert-success {
    color: #037504;
    background-color: rgba(139,195,74,0.7);
    border-color: rgba(4,199,6,0.8);
    text-shadow: 0px 0px 2px #fff;
}
.alert-danger {
     color: #ff0000;
     background-color: rgba(242,222,222,0.5);
     border-color: #ebccd1;
     text-shadow: 0px 0px 2px #fff;
 }
.close {
    font-size: 28px;
    line-height: 1;
    color: #000000;
    text-shadow: 0 0 2px #ffffff;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.top25{
    min-height: 25px;
}
.text-left{
    text-align: left;
}
#privatpolicy {
    margin: 100px 0px 0px 50px;
}

.ps-theme-sorochka {
@include ps-container(map-merge($ps-theme-default, (
border-radius: 5px,
scrollbar-x-rail-height: 20px,
scrollbar-x-height: 20px,
scrollbar-y-rail-width: 20px,
scrollbar-y-width: 20px
)));
}
.ps-scrollbar-x-rail, .ps-scrollbar-y-rail{
    display: none;
}

.controlls{
    margin: 70px auto 0px auto;
    padding: 80px 20px 10px 0px;
    width: 90%;
}
fieldset{
    padding: 10px;
    border: rgba(255,255,255,0.4) 1px solid;
    box-shadow: 1px 1px 3px rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.4);
}
legend{
    width: 52%;
    color: #000;
    text-shadow: 1px 0px 2px #fff;
    padding: 0px 0px 2px 5px;
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
}
.tab-content{
    width: 93%;
    margin: 0px auto;
}
.tab-content img{
    padding: 10px;
}
#adminpanel .button{
    box-shadow: 1px 0px 5px rgba(255,255,255,0.7), 2px 2px 3px rgba(255,255,255,0.5);
    text-shadow: 1px 1px 1px #777;
    margin:5px;
}
#adminpanel .table-striped > tbody > tr:nth-child(odd) > td, #adminpanel .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(249,249,249,0.5);
}
#adminpanel .table-user-profile{
    width:400px;
}
#adminpanel .controll-group-user{
    width: 100px;
    display: inline-block;
}
#adminpanel .controll-group-category{
    width: 100px;
    display: inline-block;
    margin-left: 20px;
}
#adminpanel .name_field{
    width: 500px;
    font-size: 14px;
}
#adminpanel .controll-group-brand{
    width: 100px;
    display: inline-block;
    margin-left: 50px;
}
#adminpanel .controll-group-fabric{
    width: 100px;
    display: inline-block;
    margin-left: 30px;
}
#adminpanel .controll-group-image{
    width: 100px;
    display: inline-block;
    margin-left: 30px;
}
#adminpanel .controll-group-gallery{
    width: 100px;
    display: inline-block;
    margin-left: 30px;
}
#adminpanel .controll-group-product{
    width: 100px;
    display: inline-block;
    margin-left: 30px;
}
#adminpanel .controll-group-order{
    width: 300px;
    display: inline-block;
    margin-left: 0px;
}
.table-user-form{
    width: 500px;
}
.table-color-form{
    width: 500px;
}
.table-image-profile{
    display: inline-block;
}
.table-image-profile > td, .table-image-profile img{
    padding: 0px;
    width: 300px;
}
.color_square{
    min-height: 20px;
    min-width: 20px;
}
.table-product-form{
    width:430px;
    display: inline-block;
}
#adminpanel .table-product-form .order_field, .table-product-char-form .order_field{
    width: 320px;
}
.table-product-form .text_input, .table-product-char-form .text_input{
    width: 100%;
    height: 100%;
    font-size: 12px;
}
.table-product-form .name_field{
    width: 307px;
    height: 100%;
    font-size: 12px;
}
.table-product-form tr.product_description{
    height: 147px;
}
.table-product-char-form{
    width: 405px;
    display: inline-block;
}
.table-product-char-form .name_field{
    width: 302px;
}
.table-product-picture{
    width: 334px;
    height: 447px;
    display: inline-block;
}
.table-product-picture-set{
    width: 334px;
    height: 487px;
    display: inline-block;
}
.number-field{
    width: 80px;
}
.table-size-show td{
    font-size: 14px;
    font-weight: bolder;
}
.table-product-gallery-form{
    display: inline-block;
}
.table-product-gallery-form .select_gallery{
    min-width:400px
}
.prod_cel{
    width: 250px;
    height: 400px;
    border: rgba(255,255,255,0.8) 1px solid;
    box-shadow: 1px 1px 5px rgba(255,255,255,0.7);
    z-index: 100;
    position: absolute;
    background: rgba(255,255,255,0.66);
    display: inline-block;
}

.prod_cel_grid{
    width: 250px;
    height: 400px;
    border: rgba(255,255,255,0.8) 1px solid;
    box-shadow: 1px 1px 5px rgba(255,255,255,0.7);
    z-index: 100;
    position: relative;
    background: rgba(255,255,255,0.66);
    display: inline-block;
    margin: 20px 10px 0px 10px;
}
.prod_cel_deffered{
    width: 140px;
    height: 200px;
    border: rgba(255,255,255,0.8) 1px solid;
    box-shadow: 1px 1px 5px rgba(255,255,255,0.7);
    z-index: 100;
    position: relative;
    background: rgba(255,255,255,0.66);
    display: inline-block;
    margin: 20px 10px 0px 10px;
    white-space: nowrap;
    overflow: hidden;
}
.deffered-nav{
    position: relative;
    display: inline-block;
    margin: -200px 0px 0px 60px;
}
.deffered-nav td.cat-price span.cat-price{
    position: absolute;
    top: 20px;
}
.deffered-nav .table-catalog-face .topbutton{
    top: 175px;
    left: -21px;
    font-size: 16px;
}
.deffered-nav .close i{
    font-size: 18px;
    position: absolute;
    right: 0px;
    color: red;
}
.nav-deff .btn-nav-deff{
    font-size: 23px;
    color: #2A6496;
}
.nav-deff .btn-nav-deff:hover{
    color: #D9E8F5;
    -webkit-transition:  color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}
.nav-deff .btn-nav-deff-right{
    right: -81%;
    position: relative;
}
.nav-deff .btn-nav-deff-left:active, .nav-deff .btn-nav-deff-left.active{
    margin-right: 10px;
    box-shadow: none;
}
.nav-deff .btn-nav-deff-right:active, .nav-deff .btn-nav-deff-right.active{
    margin-right: -10px;
    box-shadow: none;
}
.nav-deff .deff-spacer{
    min-width: 82%;
    bottom: 17px;
    left: 103px;
    min-height: 12px;
    position: absolute;
    border-bottom: 2px solid #2A6496;
    border-top: 2px solid #2A6496;
}
.table-catalog-face{
    display: inline-block;
    width: 310px;
    padding: 10px 5px 0px 5px;
}
.table-catalog-face-label{
    width: 225px;
    display: inline-block;
}
.table-catalog-face > tr > td{
    min-height: 40px;
}
.table-catalog-face span.cat-price{
    font: normal normal normal 25px/1.4em 'okolaksbolditalic',sans-serif;
    color: #2a6496;
    text-shadow: 0px 1px 2px #fff, 0px 0px 5px #2a6496;
    background: rgba(255,255,255,0.3);
    padding: 0px 10px;
    border: 1px solid #dddddd;
    margin: -12px 0px 0px -10px;
    float: left;
}
.table-catalog-face td.cat-price{
    min-height: 40px;
    height: 40px;
    background-color: rgba(204,204,204,0.4);
}
.table-catalog-face td.cat-price .table-size-show{
    float: right;
    color: #2a6496;
    text-shadow: 0px 1px 2px #fff, 0px 0px 5px #2a6496;
    margin: -12px -12px 0px 0px;
}
.table-catalog-face td.cat-price .table-size-show td{
    background: rgba(255,255,255,0.3);
    font-style: italic;
}
.table-catalog-face span.cat-label{
    font: normal normal normal 14px/1.4em 'okolaksbold',sans-serif;
    text-shadow: 0px 0px 3px #FEFEFE, 0px 0px 10px #2a6496;
    color: #141510;
    display: inherit;
}
.table-catalog-face tr.cat-label{
    vertical-align: top;
}
.table-catalog-face td.cat-label{
    min-height: 80px;
    height: 80px;
    border-top: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(204,204,204,0.4);
    padding: 0px 5px;
}
.table-catalog-face .topbutton{
    font: normal normal normal 22px/1.2em 'okolaksregularitalic',sans-serif;
    margin: 0px 0px 0px 20px;
    text-shadow: 0px 0px 2px #fff;
    color: #2A6496;
    top: 372px;
    left: 10px;
}
.table-catalog-face .topbutton:hover{
    color:#fff;
    text-shadow: none;
}
.table-catalog-face .cat-image-action-zone{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.2);
    margin: 10px 0px 0px 10px;
    top: 0;
    left: 0;
}
.table-catalog-face .cat-image-action-zoom{
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    left: -450px;
    top: -140px;
    box-shadow: 1px 1px 10px rgba(255,255,255,1);
}
.product_cart{
    padding: 0px;
    display: inline-block;
    border: rgba(255,255,255,0.4) 1px solid;
    box-shadow: 1px 1px 3px rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.4);
    margin: 40px 0px 0px 50px;
    position: absolute;
}
.product_cart .table-catalog-face{
    float: left;
    position: absolute;
    margin: -20px 0px 0px -10px;
}
.product_cart .table-catalog-face span.cat-price{
    border: none;
    font-size: 45px;
    padding: 10px 10px 0px 0px;
}
.product_cart .table-catalog-face td.cat-price{
    width: 400px;
}
.product_cart .table-size-show td{
    border: 1px solid rgba(179,184,183,0.4);
    font: normal normal normal 18px/1.2em 'okolaksregularitalic',sans-serif;
}
.product_cart .table-product-color{
    float:right;
    display: inline-block;left: -34%;
    position: relative;
    background-color: rgba(204,204,204,0.4);
    top: -18px;
    padding: 7px;
}
.product_cart .table-product-color a .color_square{
    min-height: 40px;
    min-width: 40px;
    box-shadow: 1px 1px 3px rgba(5,25,89,0.8);
}
.product_cart .table-product-color a:hover .color_square{
    box-shadow: 1px 1px 30px rgba(5,25,89,0.8);
}
.product_cart .table-product-brand{
    float: right;
    display: inline-block;
    position: relative;
    top: 70px;
    left: -37%;
    padding: 10px;
    background-color: rgba(204,204,204,0.4);
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(249,249,249,0.5);
}
.product_cart #product_label{
    font: normal normal normal 18px/1.2em 'okolaksbold',sans-serif;
    color: #2a6496;
    text-shadow: 0px 1px 2px #fff, 0px 0px 5px #2a6496;
}
.product_cart .table-product-form{
    padding: 10px;
    background-color: rgba(204,204,204,0.4);
    height: 235px;
}
.product_cart .table-product-form td{
    padding: 10px;
    font: normal normal normal 14px/1.2em 'okolaksbold',sans-serif;
}
.product_cart .table-product-gallery-control{
    width:100%;
}
.product_cart .table-product-gallery-control .button{
    width: 100px;
    box-shadow: 1px 1px 3px rgba(5,25,89,0.8);
}
.product_cart .table-product-gallery-control .button:hover{
    box-shadow: 1px 1px 30px rgba(5,25,89,0.8);
}
.product_cart .table-product-gallery-control .divercity{
    width: 100px;
}
.product_cart .cat-image-action-zone{
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.2);
    margin: 5px 0px 0px 5px;
    top: 0;
    left: 0;
}
.product_cart .cat-image-action-zoom{
    display: none;
    position: absolute;
    width: 500px;
    height: 500px;
    margin: -460px 0px 0px 700px;
    box-shadow: 1px 1px 10px rgba(255,255,255,1);
}
.product_cart a.product-gallery-image-action img{
    width:75px;
    height: 100px;
}
.product_cart a.active.product-gallery-image-action img, .product_cart a:hover.product-gallery-image-action img{
    border: 1px solid #2a6496;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}
.product_cart .table-product-gallery-form{
    display: inline-block;
    background-color: rgba(204,204,204,0.4);
}
/* normal state */
#product-full-image {
    display:none;
    background: #000;
}

/* Mozilla proposal (dash) */
#product-full-image:full-screen {
    display: block;
    width:100%;
    height:100%;
}

/* W3C proposal (no dash) */
#product-full-image:fullscreen {
    display: block;
    width:100%;
    height:100%;
}

/* currently working vendor prefixes */
#product-full-image:-webkit-full-screen, #product-full-image:-moz-full-screen {
    display: block;
    width:100%;
    height:100%;
}
#product-full-image #full-image{
    display: inline-block;
}
#product-full-image .table-full-image{
    display: inline-block;
}
#product-full-image .table-product-full-control{
    display:inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#product-full-image .table-product-full-control a{
    font-size: 45px;
}
#product-full-image .full-image-gallery{
    display: inline-block;
    float: right;
    width: 40%;
}
#product-full-image .full-image-gallery .image-block{
    display: inline-block;
    padding: 2px 5px;
}
#product-full-image .full-image-gallery .image-block .active img{
    border: 3px solid #2a6496;
}
#product-full-image .full-image-gallery .image-block img{
    border: 3px solid #000000;
}
#product .product-amount{
    font: normal normal normal 16px/1.4em 'okolaksitalic',sans-serif;
    color: #2a6496;
}
#product .table-product-order-form td.product_code{
    text-transform: uppercase;
    font: normal normal normal 14px/1.2em 'okolaksbold',sans-serif;
}
.prod-add-sign{
    display: none;
    float: right;
}
.prod-add-sign-green{
    color: green;
    font-size: 18px;
}
.prod-add-sign-red{
    color: #ff0712;
    font-size: 18px;
}
.nav-catalog{
    margin: 0px auto;
    text-align: center;
}
.nav-cat{
    margin: 55px auto;
    text-align: center;
    position: absolute;
    width: 99%;
}
.btn-cat-nav-left{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right-width: 80px;
    border-right-style: solid;
    border-right-color: rgba(66, 139, 202, 0.5);
    background: none;
    padding: 0px;
}
.btn-cat-nav-right{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left-width: 80px;
    border-left-style: solid;
    border-left-color: rgba(66, 139, 202, 0.5);
    background: none;
    padding: 0px;
}

.btn-cat-nav-left:hover{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right-color: rgba(66, 139, 202, 0.66);
    background: none;
    padding: 0px;
}
.btn-cat-nav-right:hover{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left-color: rgba(66, 139, 202, 0.66);
    background: none;
    padding: 0px;
}
.nav-cat-div{
    display: inline-block;
    width: 5px;
    height: 65px;
    background-color: rgba(66, 139, 202, 0.5);
    margin: -50px 0px -30px 0px;
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(66, 139, 202, 0.66);
}
.btn-cat-nav-left .glyphicon {
    font-size: 2em;
    position: absolute;
    color: white;
    top: 0.55em;
    margin: 0px 0px 0px 40px;
}
.btn-cat-nav-right .glyphicon{
    font-size: 2em;
    position: absolute;
    color: white;
    top: 0.55em;
    margin: 0px 0px 0px -68px;
}
.new_temporary{
    border: 1px solid red;
    box-shadow: 0px 0px 2px red;
}
.new_temporary:before{
    color: red;
    content: "!";
}
#adminpanel .btn-sort{
    width: 100%;
    padding: 3px;
    margin: 0px;
    display: inline-block;
}
#adminpanel th.column-sort{
    padding: 0px !important;
}
#adminpanel .table-order-form{
    width: 402px;
    display: inline-block;
}
#adminpanel .table-order-order-item-form{
     width: 750px;
     display: inline-block;
 }
#adminpanel .table-order-posible-item-form{
    width: 750px;
    display: inline-block;
}
#adminpanel .order_field{
    width:280px;
}
.controll-group-session .prod-add-sign{
    float: left;
}
.image_preview img{
    padding: 0px;
}
.number_field{
    width: 50px;
}
#adminpanel form{
    display: inline-block;
}
#adminpanel .total_label td{
    text-transform: uppercase;
    font: normal normal normal 21px/1.2em 'okolaksbold',sans-serif;
    color: green;
    text-shadow: 0px 1px 2px #fff;
}
.table-order-form-box{
    width: 650px;
    background: rgba(217,232,245,0.8);
    color: #2A6496;
    text-align: right;
    border: 1px solid;
}
.table-order-form-box .input_field{
    width: 330px;
}
.table-order-form-box label{
    font: normal normal normal 18px/1.4em 'okolaksbolditalic',sans-serif;
    text-shadow: 0px 0px 2px #D9E8F5;
}
.table-order-form-box .order_field{
    width:100%;
    height: 100%;
    font-size: 16px;
    color: #2A6496;
}
/* Spin Buttons modified */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: inherit;
    background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
    width: 1em;
    border-left: 1px solid #2A6496;
    opacity: .5; /* shows Spin Buttons per default (Chrome >= 39) */
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
}
input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active{
    opacity: 1;
}

/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}

.table-order-form-item{
    background: rgba(217,232,245,0.8);
    color: #2A6496;
    border: 1px solid;
    font: normal normal normal 18px/1.4em 'okolaksbold',sans-serif;
    text-shadow: 0px 0px 2px #D9E8F5;
    margin-top: 20px;
}
.table-order-form-item th{
    font: normal normal normal 16px/1.4em 'okolaksregularitalic',sans-serif;
    text-shadow: 0px 0px 2px #D9E8F5;
}
.table-order-form-item td{
    font: normal normal normal 14px/1.4em 'okolaksregular',sans-serif;
    text-shadow: 0px 0px 2px #D9E8F5;
    text-transform: uppercase;
}
.table-order-form-box span.price{
    font: normal normal normal 20px/1.4em 'okolaksbold',sans-serif;
    text-shadow: 0px 0px 2px #D9E8F5;
    text-transform: uppercase;
    color: green;
}
.table-order-form-item span.price{
     font: normal normal normal 16px/1.4em 'okolaksbold',sans-serif;
     text-shadow: 0px 0px 2px #D9E8F5;
     text-transform: uppercase;
     color: green;
 }
.table-order-form-item .sizes_field{
    width: 150px;
}
#history{
    color: #2A6496;
    font: normal normal normal 14px/1.4em 'okolaksregular',sans-serif;
    text-shadow: 0px 0px 2px #D9E8F5;
}
.red_row{
    background: rgba(255,0,0,0.66);
}
.red_row > td {
    background: none !important;
}
#order .table-order-history-box{
    background: rgba(217,232,245,0.8);
    color: #2A6496;
    text-align: right;
    border: 1px solid;
    margin-left: -8px;
}
#order .table-order-history-item{
    background: rgba(217,232,245,0.8);
    color: #2A6496;
    border: none;
}
#order .table-order-history-box th.column-sort{
    padding: 0;
    border: 1px solid;
}
#order .table-order-history-item th.column-sort{
    padding-right: 10px;
    text-align: right;
    border: none;
}
#order .table-order-history-item span.price, #order .table-order-history-box span.price{
    font: normal normal normal 14px/1.4em 'okolaksbold',sans-serif;
    text-shadow: 0px 0px 2px #D9E8F5;
    text-transform: uppercase;
    color: green;
}
 th.column-sort a{
    width: 100%;
}
#order .table-order-history-box .btn-toggle{
    border: 1px solid;
    position: relative;
    top: 5px;
    left: 5px;
}
#order .table-order-history-box .btn-toggle i{
    font-size: 26px;
    font-style: normal;
    vertical-align: sub;
}
.btn-hide, .table-hide {
    display: none;
}
#approve_modal{

}
#approve_modal table{
    background: rgba(217,232,245,0.8);
    color: #2A6496;
    border: 1px solid;
}
#approve_modal table td.first{
    font-weight: bold;
    font-style: italic;
}
#approve_modal h2.modal-title{
    font: normal normal normal 16px/1.4em 'okolaksbold',sans-serif;
    color: green;
}
#approve_modal .modal-content{
    background: rgba(255, 255, 255, 0.73);
    width: 130%;
    margin: 50px 0px 0px -100px;
}
#approve_modal table caption{
    font-size: 16px;
}
.nav-view{
    display: flex;
    position: absolute;
    left: 10%;
    border: 3px solid #2a6496;
    border-radius: 10px;
    padding: 2px;
    top: 160px;
    text-transform: lowercase;
}
.nav-view .btn-view{
    font: normal normal normal 18px/1em 'okolaksbold',sans-serif;
    color: #2a6496;
    border: 2px solid transparent;
    margin: 5px 0px 0px 0px;
    padding: 5px;
}
.nav-view .btn-view.choosen{
    color: #FFFFFF;
    background: #2a6496;
    border: 2px solid transparent;
}
.nav-view .btn-view:hover{
    border: 2px solid #2a6496;
}
.nav-view .btn-view.first{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.nav-view .btn-view.last{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.nav-view .btn-view span{
    position: relative;
    top: -3px;
}