.container
  .col-sm-9
    .heading.text-left.col-sm-8.col-sm-offset-2.wow.fadeInUp.animated{ 'data-wow-duration' => "1500ms", 'data-wow-delay' => "500ms"}
      %h2
        About Us
      %p
        Про тих, хто народився счасливим, вдачливим та талановитим, кажуть, що він "народився у сорочці".
      %p
        В нас Ви маєте змогу придбати гуртом як "ту саму сорочку", так і багато іншого модного та стильного одягу.
        І хай про Ваших улюблених клієнтів кажуть, що вони "народилися у сорочці", бо купують стильну одежину тільки у Вас!
      %p
        А ми робитимемо усе можливе, щоб Ви мали змогу завжди запропонувати бажане кожному найвибагливішому клієнтові.
      %h2
        Ласкаво просимо до стильної гуртовні модного одягу
        СОРОЧКА ОПТ!