.container
  .col-sm-8
    .heading.text-left.col-sm-8.col-sm-offset-2.wow.fadeInUp.animated{ 'data-wow-duration' => "1500ms", 'data-wow-delay' => "500ms"}
      %h2
        =t(:_about)
      %p
        =t('about.p1')
      %p
        =t('about.p2')
      %p
        =t('about.p3')
      %h2
        =t('about.p4')
  .col-sm-3.wow.lightSpeedIn{'data-wow-duration' => '1200ms', 'data-wow-delay' => '1500ms'}
    - Brand.all().order('brands.id ASC').each do |b|
      .brand_image
        = attachment_image_tag(b, :image, :fill, 300, 100, fallback: "default300x100.png", class: 'image_uploaded', title: b.description)