.contact-btn
  %a.btn.btn-primary.btn-contact.scroll{ href: '#contact'}
    =t(:_contact_us)
.fb-btn
  %a.btn{ href: 'https://www.facebook.com/sorochkaOpt/', target: '_blank'}
    %img{ src: '/fb.png'}
.vk-btn
  %a.btn{ href: 'https://vk.com/public117521429', target: '_blank'}
    %img{ src: '/vk.png'}
