%ul{class: ['nav', 'navbar-nav', 'navbar-right']}
  %li{class: ['scroll', 'active']}
    %a{href: '#home'}
      %i{class: [ 'menu-icon', 'menu-icon-1']}
      Home
  %li{class: 'scroll'}
    %a{href: '#catalog'}
      %i{class: [ 'menu-icon', 'menu-icon-3']}
      Catalog
  %li{class: 'scroll'}
    %a{href: '#order', class: 'gradient'}
      %i{class: [ 'menu-icon', 'menu-icon-2']}
      Order
  %li{class: 'scroll'}
    %a{href: '#about', class: 'gradient'}
      %i{class: [ 'menu-icon', 'menu-icon-6']}
      About Us
  - if current_user
    - if current_user.is_admin
      %li{class: ['remote-modal']}
        %a{href: '/adminpanel', class: 'gradient'}
          %i{class: [ 'menu-icon', 'menu-icon-4']}
          Admin panel
    - else
      %li{class: ['scroll']}
        %a{href: '/users/edit', class: 'gradient'}
          %i{class: [ 'menu-icon', 'menu-icon-9']}
          Account
    %li{class: ['remote-modal']}
      %a{href: '/users/sign_out', class: 'gradient'}
        %i{class: [ 'menu-icon', 'menu-icon-4']}
        Log Out

  - else
    %li{class: ['remote-modal']}
      = link_to remote_sign_up_path, :remote => true do
        %i{class: [ 'menu-icon', 'menu-icon-9']}
        Sign Up
    %li{class: ['remote-modal']}
      = link_to remote_sign_in_path, :remote => true do
        %i{class: [ 'menu-icon', 'menu-icon-4']}
        Log In