%ul{class: ['nav', 'navbar-nav', 'navbar-right']}
  %li{class: ['scroll', 'active']}
    %a{href: '#home'}
      %i{class: [ 'menu-icon', 'menu-icon-1']}
      Home
  %li{class: 'scroll'}
    %a{href: '#catalog'}
      %i{class: [ 'menu-icon', 'menu-icon-3']}
      Catalog
  %li{class: 'scroll'}
    %a{href: '#order', class: 'gradient'}
      %i{class: [ 'menu-icon', 'menu-icon-2']}
      Order
  %li{class: 'scroll'}
    %a{href: '#about', class: 'gradient'}
      %i{class: [ 'menu-icon', 'menu-icon-6']}
      About Us
  - if current_user
    %li{class: ['menu-level-0', 'parent']}
      %a{href: '#', class: 'gradient'}
        %sup{class: ['note', 'gradient']} 3
        %i{class: [ 'menu-icon', 'menu-icon-9']}
        Account
      %ul.submenu-1
        %li{class: ['menu-level-1', 'first']}
          = link_to 'Users', :controller => '/static_pages', :action => 'userslist', class: 'gradient'
        %li{class: 'menu-level-1'}
          %a{href: '/users/edit', class: 'gradient'}
            My profile
        %li{class: ['menu-level-1', 'parent', 'last']}
          %a{href: '#', class: 'gradient'}
            %sup{class: ['note', 'gradient']} 3 
            Assign for me
          %ul.submenu-2
            %li{class: ['menu-level-2', 'first']}
              %a{href: '#', class: 'gradient'}
                %sup{class: ['note', 'gradient']} 1 
                Waiting for Customer
            %li{class: ['menu-level-2', 'last']}
              %a{href: '#', class: 'gradient'}
                %sup{class: ['note', 'gradient']} 2
                On hold
    %li{class: ['menu-level-0', 'last']}
      %a{href: '/users/sign_out', class: 'gradient'}
        %i{class: [ 'menu-icon', 'menu-icon-4']}
        Log Out
  - else
    %li{class: ['scroll', 'remote-modal']}
      %a{href: '/users/sign_up', class: 'gradient'}
        %i{class: [ 'menu-icon', 'menu-icon-9']}
        Sign Up
    %li{class: ['scroll', 'remote-modal']}
      %a{href: '/users/sign_in', class: 'gradient'}
        %i{class: [ 'menu-icon', 'menu-icon-4']}
        Log In
