.order-result.green
  Дякуємо! Ваше замовлення прийнято!
  %br
  Наші менеджери зв'яжуться з Вами
  %br
  по контактам, які Ви нам надали.
  %br
  На цій сторінці Ви маєте змогу
  %br
  визначити стан Вашиз Замовлень де:
  %ul
    %li
      "очікує" \- показує , що наші менеджери саме зараз зв'язуються з Вами
    %li
      "виконується" \- показує , що саме зараз Ваше Замовлення доставляєтсья до Вас
    %li
      "закрито" \- показує , що Ваше замовлення вже виконано
    %li
      "проблема" \- показує , що є певна проблема і для вирішення її наши менеджери ймовірно незабаром звяжуться з Вами