- if @err
  .approve-result.prod-add-sign.prod-add-sign-red
    Нажаль, сталося помилка. Спробуйте оформити заказ пізніше...
- else
  .approve-result.prod-add-sign.prod-add-sign-green
    Дякуємо! Ваше замовлення прийнято! Тепер Ви можете оформити нове...