#adminpanel
  = render 'admin_panel_controlls'
  = show_flash
  .tab-content
    %fieldset
      %legend
        = t('activerecord.attributes.product.edit') + @product.name
      = render 'form'
:javascript
  admit_product();
